body{

background-image:url(../img/background.png);    
   
    
}
    
.nav{
width:928px;
height: 55px;    
border: 1px solid #333333;     
background-color: #fff;
margin: 0 auto;
margin-top: 138px;    
    
    
}   
span{
font-size:88px;     
 color:#B9B6B5; 
    
}
li{
list-style-type: none;   
 display: inline-block;   
 margin-right: 71px;   
 font-family: sans-serif;
    font-size:25px; 
}
a{
    text-decoration: none;
    color: #626060;


}
a:hover{color:#9D9A99;}
.slid{
 width:919px ;   
 height:375px ;   
 background-color: #fff;   
 margin: 0 auto;   
 margin-top: 18px;   
    
}
.img1{margin:0 auto;}
.more1{
 width:222px ;
height:385px ;   
background-color: #fff;    
font-family: sans-serif;  
margin-top:20px;
margin-right:10px; 
float: left;   
margin-left:auto;
margin-bottom: 10px;     
}
.more{
width: 928px;    

   
    
    
}
.row{
width: 932px;
margin: 0 auto;
}
.more{margin:0 auto;}
.img{
 margin:12px 10px 20px 10px;    
    
    
    
}
p{text-align: justify;
margin:0 5px 0 5px; }
.merea{padding: 145px;}
.welcom{
 width:929px ;
height:187px ;  
margin: 0 auto;
margin-top:10px;     
background: #fff;    
clear: both;    
font-size:12px;  
font-family: sans-serif;    
}

.img160{
 width:187px;    
 height:187px;    
 float: left;  
    
    
}
.img11{
display: inline-block;    
 float: right; 
width:80px ;
height:80px;
 margin:7px 7px 5px 2px; 
}

.p{
 margin:10px;   
 font-size:14px;    
 font-family: sans-serif;
    
    
}
.footer{
 width: 929px;
height: 55px;
margin-top: 10px;
background-color: #fff;
 
    
}

.foo{
font-size:12px;    
display: inline-block;    
    
    
    
position: absolute;
position: relative;
position: fixed    


background-color: #fff;

display: inline-block;


text-decoration: none;






